@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");


/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		background: #fff;
		  -webkit-font-smoothing: antialiased
	}

		body.is-loading *
		{
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}
	.wrapper{
	    width: 92.72727272727273%;
	    margin: 0 auto;
	}
	body,input,textarea,select
	{
		font-family: CallunaLghtRegular, CallunaRegular, Georgia, serif;
		text-rendering: optimizeLegibility;
	}

	p {
		text-decoration: none;
		text-align: left;
		font-size: 16px;
		padding-left: 4em;
		padding-right: 4em;
		font-weight: 400;
		line-height: 1.5em;
		font-style: normal;
		color: rgba(0,0,0,0.8);
		letter-spacing: .01rem;
	}


	@media screen and (max-width:480px) {
   p {
   	padding-left:0em;
   	padding-right: 1em;
   }

	a {
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
	}


   h4 {padding-left: 0em;}
}

	h1 {
		font-size: 34px;
		padding-bottom: 1em;
	}
	h2 {
		font-size: 30px;
		padding-bottom: 0.5em;
		padding-top: 1.5em;
	}
	h3 {
		font-size: 26px;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: center;
	}


	h4 {
		font-size: 20px;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: left;
		padding-left: 3em;
		font-weight: 500;
	}

	h5 {
		font-size: 20px;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: left;
		padding-left: 5em;
		font-weight: 500;
	}

	h51 {
		font-size: 20px;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: center;
		font-weight: 500;
	}

	h6 {
		font-size: 20px;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: left;
		padding-left: 3em;
		font-weight: 500;
	}

	h7 {
		font-size: 20px;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: left;
		font-weight: 500;
		padding-bottom: 0.5em;
    	display: block;
	}

	h8 {
		font-size: 16px;
		padding-top: 1em;
		margin-bottom: 1em;
		text-align: left;
		font-weight: 400;
		padding-bottom: 0.5em;
	}

	h9 {
		font-size: 14px;
		padding-top: 1em;
		padding-bottom: 2em;
		text-align: left;
		font-weight: 500;
		padding-bottom: 2em;
	}



	h7 + h8 
	{
		
	}

	a.arrows {
		text-decoration: none !important;
		border-bottom: hidden !important;
	}
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
		{
			color: inherit;
			text-decoration: none;
		}


	header
	{
		margin: 0 0 1em 0;
	}

		header > p
		{
			margin: 1em 0 0 0;
		}

	footer
	{
		margin: 2em 0 0 0;
	}

	strong, b
	{
		font-weight: 600;
		/*color: #666;*/
	}
	i {
		font-style: italic;
	}


	a
	{
		text-decoration: none;
		color: inherit;
		border-bottom:groove 1px ;
		-moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		outline: 0;
	}

		a:hover
		{
			color: #ff9966;
			border-bottom-color: rgba(255,255,255,0);
		}

	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
	}
	
	blockquote
	{
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 1.5em;
	}
	p + ol{
		display: inline;
	}
	p + ul{
		display: inline;
	}

	br.clear
	{
		clear: both;
	}


	/* Sections/Article/ */

}
	
		section,
		article
		{
			/*margin-bottom: 3em;*/
		}
		
			section > :last-child,
			article > :last-child,
			section > .container > :last-child,
			article > .container > :last-child
			{
				margin-bottom: 0;
			}

			section:last-child,
			article:last-child
			{
				margin-bottom: 0;
			}

			.row > section,
			.row > article
			{
				margin-bottom: 0;
			}

.wrapper{
    width: 92.72727272727273%;
    margin: 0 auto;
}


/* Table
*/

table, td {
    margin-left: 4em;
    margin-right: 4em;
    height: 100%;
    text-align: left;
    font-size: 18px ;
    padding-bottom: 1em;
    border-collapse: collapse;
    padding: 0.5em;
}

@media screen and (max-width:480px) {
   table{
   	margin-left: 0em;
    margin-right: 0em;
   }
}


	/* Images */

		.image
		{
			display: inline-block;
			border: 0;
			margin-bottom: 1em;

		}
		
			.image img
			{
				display: block;
				width: 100%;
			}
			
			.image header {
				background: #fff;
				margin: 0;
				padding: 1em 0 1em 0;
				font-size: 0.8em;
			}
			.image.avatar48
			{
				width: 48px;
				height: 48px;
				background: #f00;
			}
			
				.image.avatar48 img
				{
					width: 48px;
					height: 48px;
				}

			.image.fit
			{
				display: block;
				width: 100%;
			}
			
			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}
			
			.image.left
			{
				float: left;
				margin: 0 2em 2em 1em;
			}
			
			.image.left img
			{
				margin: 0 auto;
				height: 450px;
				width: auto;
			}
			.image.right
			{
				float: right;
				margin: 0 1em 2em 2em;
			}
			
			.image.right img
			{
				margin: 0 auto;
				height: 450px;
				width: auto;
			}
			.image.centered
			{
				display: block;
				margin: 0 0 2em 0;

			}

				.image.centered img
				{
					margin: 0 auto;
					height: 450px;
					width: auto;
				}

#images {
	text-align: center;
	padding-top: 0.5em;
}
 #imagesandtext {
 	text-align: left;
	padding-top: 0.5em;
	padding-left: 2em;
	
 }
#imagesandtext br{clear:both;}

#imagesandtext img {
	float:left;
	vertical-align: text-top;
	padding-bottom: 1em;
	margin:  0 0.5em 1em 0;
}

#imagesandtext span {
	font-size:12px ;
	margin-right: 1em !important;
	display:block;
	margin-bottom: 6em;
}
#imagesandtext p{
 	text-align: left;
	padding-top: 0.5em;
	display: inline-block;
	padding-left: 0.5em !important;
	padding-bottom: 3em;
	/*float: right; */
	width: 5em;/*
	margin-right: 1em !important;*/
 }

#imageandtext h8{
	float: left;
	padding-left: 1em;
	padding-top: 2em;
}

.singleimage {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px; 
}

.singlemobileimage {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: auto; 
}
.singlebigimage {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
    width:70%; 
    height:auto;
}

.hiddenInviteBig {
	display:none;
}
.singlemiddleimage {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    width: 60%; 
    height:auto;
}
.beforeafteroneimage {
	display: inline-block;
    height: 450px;
    width: auto; 
    /*margin-left: -18em;*/
    margin-top: -1.5em;
    overflow: hidden;
    text-align: left;
}

.beforeaftertwoimages {
	display: inline-block;
    height: 450px;
    width: auto; 
    margin-top: 0.5em;
    overflow: hidden;
    text-align: left;
}
.beforeaftertwobigimages {
	display: inline-block;
    height: auto;
    width: 48%; 
    vertical-align: text-top;
    margin-right: 0.5em;
    overflow: hidden;
    text-align: left;
}
/* Slider Setup */
input {
	display: none;
}


/*
#slide1:checked ~ #slides .inner { margin-bottom:0; }
#slide2:checked ~ #slides .inner { margin-bottom:100%; }
#slide3:checked ~ #slides .inner { margin-bottom:200%; }
#slide4:checked ~ #slides .inner { margin-bottom:300%; }*/

 

#overflow {
	width: 100%;
	overflow: hidden;
}



article img {
	width: 100%;
}

.extensiontoslide3 {
	display: none;
}
.extensiontoslide4 {
	display: none;
}

#slides .inner {
	width: 500%;
	line-height: 0;
}

#slides article {
	width: 100%;
	float: left;
}

#slides p {
	font-size: 16px;
	margin-left: 1.5em;
	margin-right: 3.5em;
	margin-bottom: 0.5em;
}

#about p {
	font-size: 18px;
}

#resume p {
	font-size: 14px;
	margin-left: 1.5em;
	margin-right: 3.5em;
}

#resume strong {
	color: #424242;
	font-weight: 600;

} 

#resume ul p {
margin-left: 5.5em;
margin-bottom: 0.5em;
}


#resumeskills table {
	font-size: 12px ;
	padding-left: 4em;
    margin-right: 5em;
}

#resumeskills td {
	font-size: 12px ;
	padding-left: 4em;
    margin-right: 5em;
}


#resumeskills li {
	font-size: 12px !important;
	padding-left: 5em;
    padding-right: 5em;
}

#example p, ol {
	    
		font-size: 14px;
		letter-spacing: .01rem;
		margin-bottom: 0.5em!important;
}

#example h5 {
	    
		padding-top: 0.5em;
		font-size:18px;
}


#resumedescription p {
	font-size: 14px;
	letter-spacing: .01rem;
	margin-bottom: 0.5em!important;
	padding-left: 5em;
	padding-right: 1em;
	padding-top: 1.5em;
}

#resumedescription span {
	font-size: 12px;
	font-color:#666666;
	letter-spacing: .01rem;
	margin-bottom: 0.5em!important;
	padding-left: 5em;
	padding-right: 1em;
}

#resumedescription h3 {

			font-size: 16px;
			padding-top: 1em;
			padding-bottom: 1em;
			text-align: center;
			display: block;
		
}



/* Slider Styling */
#slides {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-decoration-break: 5px;
	box-shadow: 1px 2px 2px #999999;
	padding: 1%;
	margin-bottom: 8px;
	background: #ffffff;
	 /* Old browsers */
	/*background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(219,218,201,1) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(219,218,201,1))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* IE10+ */
	/*background: linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */

}

/* Control Setup */

#controls {
	margin: 0 0 0 0;
	width: 100%;
}

#controls label { 
	display: none;
	width: 50px;
	height: 50px;
	opacity: 0.5;
}

#active {
/* 	margin: 23% 0 0; */
	text-align: center;
}

#active label {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bbb;
}

#active label:hover {
	background: #ccc;
	border-color: #777 !important;
}


/* Control Setup */

#controls {
	margin: 0 0 0 0;
	width: 100%;
}

#controls label { 
	display: none;
	width: 50px;
	height: 50px;
	opacity: 0.5;
}

#active {
/* 	margin: 23% 0 0; */
	text-align: center;
}

#active label {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bbb;
}

#active label:hover {
	background: #ccc;
	border-color: #777 !important;
}

#controls label:hover {
	opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(1) {
	background: url('../images/next.png') no-repeat;
	float: right;
	margin: 0 -50px 0 0;
	display: block;
}


#slide1:checked ~ #controls label:nth-child(4),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3) {
	background: url('../images/prev.png') no-repeat;
	float: left;
	margin: 0 0 0 -50px;
	display: block;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4) {
	background: #333;
	border-color: #333 !important;
}
/* Animation */

#slides .inner {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#slider {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	margin-top: 1em;
}
	/* List */

		ul
		{
		}

			ul.default
			{
				list-style: disc;
				padding-left: 1em;
			}
			
				ul.default li
				{
					padding-left: 0.5em;
				}		

			ul.icons
			{
				cursor: default;
			}	
			
				ul.icons li
				{
					display: inline-block;
				}
				
					ul.icons a
					{
						display: inline-block;
						width: 2em;
						height: 2em;
						line-height: 2em;
						text-align: center;
						border: 0;
					}

					ul.icons .goodreads {
					    font-family: Arial, Sans-Serif;
					    font-size: 1.25em;
					    line-height: 2em;
					    width:0.7em;

					}

		ol
		{
		}
		
			ol.default
			{
				list-style: decimal;
				padding-left: 1.25em;
			}

				ol.default li
				{
					padding-left: 0.25em;
				}

	/* Form */

		form
		{
		}
		
			form label
			{
				display: block;
				text-align: left;
				margin-bottom: 0.5em;
			}
		
			form input[type="text"],
			form input[type="email"],
			form input[type="password"],
			form select,
			form textarea
			{
				position: relative;
				-webkit-appearance: none;
				display: block;
				border: 0;
				outline: 0;
				background: #fff;
				background: rgba(255,255,255,0.75);
				width: 100%;
				border-radius: 0.35em;
				padding: 0.75em 1em 0.75em 1em;
				box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
				border: solid 1px rgba(0,0,0,0.15);
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
			}

				form input[type="text"],
				form input[type="email"],
				form input[type="password"],
				form select
				{
					line-height: 1.25em;
				}

				form input[type="text"]:focus,
				form input[type="email"]:focus,
				form input[type="password"]:focus,
				form select:focus,
				form textarea:focus
				{
					box-shadow: 0 0 2px 1px #8ebebc;
					background: #fff;
				}
				
				form textarea
				{
					min-height: 14em;
				}

				form .formerize-placeholder
				{
					color: #555 !important;
				}

				form ::-webkit-input-placeholder
				{
					color: #555 !important;
				}

				form :-moz-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-placeholder
				{
					color: #555 !important;
				}

				form :-ms-input-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-focus-inner
				{
					border: 0;
				}
			

	/* Button */
		
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			position: relative;
			display: inline-block;
			border-radius: 0.35em;
			color: #fff !important;
			text-decoration: none;
			padding: 0.75em 2.5em 0.75em 2.5em;
			background-color: #8ebebc;
			border: 0;
			cursor: pointer;
			/*background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
			background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
			background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
			background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');			
			*/-moz-transition: background-color 0.35s ease-in-out;
			-webkit-transition: background-color 0.35s ease-in-out;
			-o-transition: background-color 0.35s ease-in-out;
			-ms-transition: background-color 0.35s ease-in-out;
			transition: background-color 0.35s ease-in-out;
		}

			input[type="button"]:hover,
			input[type="submit"]:hover,
			input[type="reset"]:hover,
			.button:hover
			{
				background-color: #9ececc;
			}
			
			input[type="button"]:active,
			input[type="submit"]:active,
			input[type="reset"]:active,
			.button:active
			{
				background-color: #7eaeac;
			}
		
	/* Item */
	
		.item
		{
			box-shadow: 0 0.05em 0.15em 0 rgba(0,0,0,0.05);
			margin-bottom: 0px;
			margin-left: 5em;
			
		}
		
			.item header
			{
				background: #fff;
				margin: 0;
				padding: 1em 0 1em 0;
				font-size: 0.8em;
			}

				.item header h3
				{
					font-size: 1em;
				}


/*********************************************************************************/
/* Inner Page                                                                      */
/*********************************************************************************/
.content_header{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    margin-left: -46.36363636363637%;
}

/*********************************************************************************/
/* Text                                                                         */
/*********************************************************************************/



/*********************************************************************************/
/* Lists                                                                         */
/*********************************************************************************/
	.orderedli{
		text-indent: -1em;
		list-style-type: decimal;
		list-style-position:inside;
		text-decoration: none;
		text-align: left;
		font-size: 16px;
		margin-left: 1.5em;
		margin-right: 3em;
		margin-bottom: 1em;
		padding-right: 4em;
		padding-left: 5em;
		font-weight: 400;
		line-height: 1.2em;
		font-style: normal;
		color: rgba(0,0,0,0.8);
		letter-spacing: .01rem;
}

.resumeorderedli{
		text-indent: -1em;
		list-style-type: decimal;
		list-style-position:inside;
		text-decoration: none;
		text-align: left;
		font-size: 15px;
		padding-left: 5.5em;
		padding-right: 3em;
		padding-bottom: 1em;
		padding-top: 0.5em;
		font-weight: 400;
		line-height: 1.2em;
		font-style: normal;
		color: rgba(0,0,0,0.8);
		letter-spacing: .01rem;
}
.orderedliforimages{
		text-indent: -1em;
		list-style-type: decimal;
		list-style-position:inside;
		text-decoration: none;
		text-align: left;
		font-size: 16px;
		margin-left: 1.5em;
		margin-right: 3em;
		margin-bottom: 1.5em;
		padding-right: 4em;
		padding-left: 5em;
		font-weight: 400;
		line-height: 1.2em;
		font-style: normal;
		color: rgba(0,0,0,0.8);
		letter-spacing: .01rem;
}

.nonorderedliforimages{
		text-indent: -1em;
		list-style-type: disc;
		list-style-position:inside;
		text-decoration: none;
		text-align: left;
		font-size: 16px;
		margin: 0em 1.5em 0.5em 1.5em;
		padding-right: 4em;
		padding-left: 5em;
		font-weight: 400;
		line-height: 1.2em;
		font-style: normal;
		color: rgba(0,0,0,0.8);
		letter-spacing: .01rem;
}


.nonorderedli{
		text-indent: -1em;
		list-style-type: disc;
		list-style-position:inside;
		text-decoration: none;
		text-align: left;
		font-size: 16px;
		margin-left: 3.5em;
		margin-right: 3em;
		margin-bottom: 0.8em;
		padding-right: 4em;
		padding-left: 5em;
		font-weight: 400;
		line-height: 1.2em;
		font-style: normal;
		color: rgba(0,0,0,0.8);
		letter-spacing: .01rem;
}


.educationli{
	text-decoration: none;
	text-align: left;
	font-size: 0.8em;
	margin-left: 5em;
	list-style-type: none;
	line-height: 1.5em;

}
.crowdexchli{
	list-style-type: disc;
	padding-right: 2em;
	text-align: left;
	font-weight: 400;
	line-height: 1.2em;
	font-style: normal;
	margin-left: 5em;
	list-style-type: none;
	line-height: 1.5em;
	font-size: 14px;

}

.portfolioexampleli {
	text-indent: -1em;
		list-style-type: decimal;
		list-style-position:inside;
		text-decoration: none;
		text-align: left;
		font-size: 14px;
		margin-left: 1.5em;
		margin-right: 3em;
		margin-bottom: 1em;
		padding-right: 4em;
		padding-left: 6em;
		font-weight: 400;
		line-height: 1.2em;
		font-style: normal;
		color: rgba(0,0,0,0.8);
		letter-spacing: .01rem;
}

.goodreadsexampleli {
	text-indent: -1em;
		list-style-type: decimal;
		list-style-position:inside;
		text-decoration: none;
		text-align: left;
		font-size: 16px;
		margin-left: 1.5em;
		margin-right: 3em;
		margin-bottom: 1em;
		padding-right: 4em;
		padding-left: 6em;
		font-weight: 400;
		line-height: 0.5em;
		font-style: normal;
		color: rgba(0,0,0,0.8);
		letter-spacing: .01rem;
}
#uxskillsmain li{
	font-size: 16px !important;
	padding-left: 5em;
	padding-right: 4em;
	margin-left: 0em;
	margin-right: 0em;
	line-height: 1em;
}
#uxskillsmain table, td{
	padding-left: 1em;
	padding-right: 4em;
	font-size: 14px ;

}



@media screen and (max-width:520px) {
   .orderedli,   .orderedliforimages, .nonorderedli, .nonorderedliforimages, .resumeorderedli, #uxskillsmain li{
   	padding-left:1em;
   	padding-right: 0em;
   }
}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;/*
			border-bottom: hidden;*/
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
		}
		
		.icon > .label {
			display: none;
		}

a i.icon {

		border-bottom: hidden !important
}
/*********************************************************************************/
/* Navigation Links                                                                         */
/*********************************************************************************/

	.navlink {
		text-decoration: none;
	}

	
		.navlink:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
		}
		
		
		.navlink > .label {
			display: none;

		}



/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
	#header
	{
		position: fixed;
		top: 0;
		left: 0;
		width: 375px;
		height: 100%;
		color: #fff;
		/*background: #222629 url('images/overlay.png');
		*/box-shadow: 1px 1px 3px #999999;

		text-align: right;
	}
	
		#header .top
		{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
		}
	
		#header .bottom
		{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		}

		#header .icons
		{
			font-size: 0.8em;
			margin: 0 0 1em 0;
			text-align: center;
		}
		
			#header .icons a
			{
				color: #41484c;
				-moz-transition: color 0.35s ease-in-out;
				-webkit-transition: color 0.35s ease-in-out;
				-o-transition: color 0.35s ease-in-out;
				-ms-transition: color 0.35s ease-in-out;
				transition: color 0.35s ease-in-out;
			}
			
				#header .icons a:hover
				{
					color: #ff9966;
				}

	#logo
	{
		position: relative;
		margin: 1.75em 1.5em 1.5em 1.5em;
		min-height: 48px;
		cursor: default;
	}
	
		#logo h1
		{
			position: relative;
			color: #000000;
			font-weight: 300;
			font-size: 1em;
			line-height: 1em;
		}
	
		#logo p
		{
			position: relative;
			display: block;
			font-size: 0.6em;
			color: rgba(255,255,255,0.5);
			line-height: 1.25em;
			margin: 0.5em 0 0 0;
		}
		
		#logo .image
		{
			position: absolute;
			left: 0;
			top: 0;
		}
	
	#nav
	{
	}
	
		#nav ul
		{
		}
		
			#nav ul li
			{
			}
			
				#nav ul li a
				{
					display: block;
					padding: 0.5em 1.5em 0.5em 1.5em;
					color:#000000;
					text-decoration: none;
					outline: 0;
					border: 0;
					-moz-transition: none;
					-webkit-transition: none;
					-o-transition: none;
					-ms-transition: none;
					transition: none;
				}
				
					#nav ul li a span
					{
						position: relative;
						display: block;
					}
					#nav ul li a:hover 
					{color: #ff9966;}
					
						#nav ul li a span:before
						{
							position: absolute;
							left: 0;
							color: #41484c;
							text-align: center;
							width: 1.25em;
							line-height: 1.75em;
						}

					#nav ul li a.active
					{
						background: rgba(0,0,0,0.15);
						box-shadow: inset 0 0 0.25em 0 rgba(0,0,0,0.125);
						color: #fff;
					}

						#nav ul li a.active span
						{
						}

							#nav ul li a.active span:before
							{
								color: #e27689;
							}

					

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		margin-left: 375px;
		text-align: center;
		background-color: #dce3e2;
		padding: 3em 0 4em 0;
		box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);
		font-size: 0.8em;
	}

		#footer .copyright
		{
			cursor: default;
			margin: 0;
		}
			
			#footer .copyright li
			{
				display: inline-block;
				line-height: 1em;
				border-left: solid 1px rgba(128,128,128,0.35);
				padding: 0 0 0 0.5em;
				margin: 0 0 0 0.5em;
			}
			
			#footer .copyright li:first-child
			{
				border-left: 0;
				padding-left: 0;
				margin-left: 0;
			}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin-left: 375px;
	}

		#main > section
		{
			margin: 0;
			overflow: hidden;
			padding: 4em 0;/*
			box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);*/
			text-align: center;
			/*background-image: url('images/overlay.png');*/
		}

			#main > section.dark
			{
				color: #000000;
				/*color: rgba(255,255,255,0.75);*/
			}

				/*#main > section.dark h2,
				#main > section.dark h3,
				#main > section.dark h4,
				#main > section.dark h5,
				#main > section.dark h6
				{
					color: inherit;
				}
*/
				/*#main > section.dark strong,*/
				#main > section.dark a
				{
					/*color: #000000s;*/
					border-color: inherit;
					
				}

					#main > section.dark a:hover
					{
						border-bottom-color: rgba(255,255,255,0);
					}

			#main > section.cover
			{
				padding: 6em 0;
				background-size: cover;
				background-position: center center;
			}
		
			#main > section.one
			{
				background-color: #ffffff;/*
				background-image: url('../images/banner.jpg');*/
			}

			#main > section.two
			{
				padding: 3em 0;
				background-color: #e9eaed;
			}
		
			#main > section.three
			{
				padding: 3em 0;
				background-color: #e9eaed;
			}
		



/*  Inner Page  */
.pagetop{
    width: 100%;
    height: 42px;
    overflow: hidden;
    display: block;
    position: relative;
   /* background: url('../images/hero_image.jpg') no-repeat;*/
   /* background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: 50% 50%;*/
}

.work_nav{
    display: block;
    width: 100%;
}

.work_nav .btn{
    float: right;
}

.work_nav ul{
    list-style: none;
    margin-bottom: 0!important;
}

.work_nav ul li{
    display: block;
    float: left;
    margin: 0 0 1px 1px;
    position: relative;

}

.work_nav a{
    display: block;
    width: 40px;
    height: 40px;
    background: url('../images/p_navigation.png') no-repeat;
    background-position: 0 0;

}

.work_nav a.previous{
    background-position: 0 0;
}

.work_nav a.grid{
    background-position: -41px 0;
}

.work_nav a.next{
    background-position: -82px 0;
}

.pagetop .title{
    display: block;
    width: 100%;color: #4b4848;
    font-family: 'Droid Sans', sans-serif;
    font-size: 26px;
    font-weight: bold;
    background: rgba(255, 255, 255, .7);
    padding: 20px;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0!important;
    overflow: hidden;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

.content_header{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    margin-left: -46.36363636363637%;
}



/* Link to expand slide */
.linktoslide0 a {text-decoration: none; color: #bf5b2e; letter-spacing:-0.5px; border-bottom: hidden !important; font-weight: 500}
.linktoslide0 a:hover > span {color: #ff9966; border-bottom: hidden !important; }
.linktoslide0 a:link > span {text-decoration: none; border-bottom:groove 1px;}
.linktoslide0 a:before {content: "\f103"; font-family: FontAwesome; padding-right:  0.5em; color:#bf5b2e; padding-left: 0.5em}
.linktoslide0 a:hover:before {color:#ff9966;}

.linktoslide1 a {text-decoration: none; color: #bf5b2e; letter-spacing:-0.5px; border-bottom: hidden !important; font-weight: 500}
.linktoslide1 a:hover > span {color: #ff9966; border-bottom: hidden !important; }
.linktoslide1 a:link > span {text-decoration: none; border-bottom:groove 1px;}
.linktoslide1 a:before {content: "\f103"; font-family: FontAwesome; padding-right:  0.5em; color:#bf5b2e; padding-left: 0.5em}
.linktoslide1 a:hover:before {color:#ff9966;}

.linktoslide2 a {text-decoration: none; color: #bf5b2e; letter-spacing:-0.5px; border-bottom: hidden !important; font-weight: 500}
.linktoslide2 a:hover > span {color: #ff9966; border-bottom: hidden !important; }
.linktoslide2 a:link > span {text-decoration: none; border-bottom:groove 1px;}
.linktoslide2 a:before {content: "\f103"; font-family: FontAwesome; padding-right:  0.5em; color:#bf5b2e; padding-left: 0.5em}
.linktoslide2 a:hover:before {color:#ff9966;}

.linktoslide3 a {text-decoration: none; color: #bf5b2e; letter-spacing:-0.5px; border-bottom: hidden !important; font-weight: 500}
.linktoslide3 a:hover > span {color: #ff9966; border-bottom: hidden !important; }
.linktoslide3 a:link > span {text-decoration: none; border-bottom:groove 1px;}
.linktoslide3 a:before {content: "\f103"; font-family: FontAwesome; padding-right:  0.5em; color:#bf5b2e; padding-left: 0.5em}
.linktoslide3 a:hover:before {color:#ff9966;}

.linktoslide4 a {text-decoration: none; color: #bf5b2e; letter-spacing:-0.5px; border-bottom: hidden !important; font-weight: 500}
.linktoslide4 a:hover > span {color: #ff9966; border-bottom: hidden !important; }
.linktoslide4 a:link > span {text-decoration: none; border-bottom:groove 1px;}
.linktoslide4 a:before {content: "\f103"; font-family: FontAwesome; padding-right:  0.5em; color:#bf5b2e; padding-left: 0.5em}
.linktoslide4 a:hover:before {color:#ff9966;}

.linktoslide5 a {text-decoration: none; color: #bf5b2e; letter-spacing:-0.5px; border-bottom: hidden !important; font-weight: 500}
.linktoslide5 a:hover > span {color: #ff9966; border-bottom: hidden !important; }
.linktoslide5 a:link > span {text-decoration: none; border-bottom:groove 1px;}
.linktoslide5 a:before {content: "\f103"; font-family: FontAwesome; padding-right:  0.5em; color:#bf5b2e; padding-left: 0.5em}
.linktoslide5 a:hover:before {color:#ff9966;}

.linktoslide6 a {text-decoration: none; color: #bf5b2e; letter-spacing:-0.5px; border-bottom: hidden !important; font-weight: 500}
.linktoslide6 a:hover > span {color: #ff9966; border-bottom: hidden !important; }
.linktoslide6 a:link > span {text-decoration: none; border-bottom:groove 1px;}
.linktoslide6 a:before {content: "\f103"; font-family: FontAwesome; padding-right:  0.5em; color:#bf5b2e; padding-left: 0.5em}
.linktoslide6 a:hover:before {color:#ff9966;}


.linktoslide7 a {text-decoration: none; color: #bf5b2e; letter-spacing:-0.5px; border-bottom: hidden !important; font-weight: 500}
.linktoslide7 a:hover > span {color: #ff9966; border-bottom: hidden !important; }
.linktoslide7 a:link > span {text-decoration: none; border-bottom:groove 1px;}
.linktoslide7 a:before {content: "\f103"; font-family: FontAwesome; padding-right:  0.5em; color:#bf5b2e; padding-left: 0.5em}
.linktoslide7 a:hover:before {color:#ff9966;}


.linktoslidetoclose a {text-decoration: none; color: #bf5b2e; letter-spacing:-0.5px; border-bottom: hidden !important; font-weight: 500}
.linktoslidetoclose a:hover > span {color: #ff9966; border-bottom: hidden !important; }
.linktoslidetoclose a:link > span {text-decoration: none; border-bottom:groove 1px;}
.linktoslidetoclose a:before {content: "\f102"; font-family: FontAwesome; padding-right:  0.5em; color:#bf5b2e; padding-left: 0.5em}
.linktoslidetoclose a:hover:before {color:#ff9966;}

