body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:234px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:13px;
  width:184px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:0px;
  top:670px;
  width:880px;
  height:150px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:150px;
}
#u5 {
  position:absolute;
  left:2px;
  top:67px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
